<div class="container">
    <h2 class="title">Ajouter un Livrable</h2>
  
    <form (ngSubmit)="addDeliverable()">
      <div class="form-group">
        <label for="name">Nom du livrable :</label>
        <input type="text" id="name" [(ngModel)]="deliverable.name" name="name" required>
      </div>
  
      <div class="form-group">
        <label for="expected_date">Date prévue :</label>
        <input type="date" id="expected_date" [(ngModel)]="deliverable.expected_date" name="expected_date" required>
      </div>
  
      <div class="form-group">
        <label for="delivery_date">Date de livraison :</label>
        <input type="date" id="delivery_date" [(ngModel)]="deliverable.delivery_date" name="delivery_date" required>
      </div>

  <div class="form-group">
        <label for="status">Statut :</label>
        <select id="status" [(ngModel)]="deliverable.status" name="status">
          <option *ngFor="let status of statusOptions" [value]="status">{{ status }}</option>
        </select>
      </div>
      <button type="submit" class="btn submit">Ajouter</button>
    </form>
  </div>
  